@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

body {
	
	font-family: 'Montserrat';
}
.container {
	position: relative;
	margin: 0 auto;
	max-width: 1920px;
	padding: 0 300px;
}