@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

body {
	
	font-family: 'Montserrat';
}
.container {
	margin: 0 auto;
	max-width: 1920px;
	padding: 0 300px;
}
.section {
	padding: 70px 0;
}
.news{
  display: block;
  margin: 0 auto;
	padding: 20px 0px;
}
.text-header{
	text-align: center;
	font-size: 120px;
	color: #F5B129;
}

.popular-tours{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
}


