
body {
	
	font-family: 'Montserrat';
}
.container {
	position: relative;
	margin: 0 auto;
	max-width: 1920px;
	padding: 0 300px;
}

.name_tour{
    font-size: 64px;
}
.info_orh {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 20px;
	display: flex;
	align-items: center;
	white-space: nowrap;
}
.name_org{
	font-size: 40px;
}
.delimiter{
	margin-left: 10px;
	margin-right: 10px;
}

.star {
	white-space: nowrap;
	cursor: pointer;
	height: 25px;
	width: 25px;
	margin: 2px;
	float: left;
	background-color: grey;
	clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82%  100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
	
}
.star.selected {
	white-space: nowrap;
	background-color: #F5B129;
}

/*ggggggggggggggggggggggggggggg*/
.infoo__tour{
	margin: 0 auto;
	right: 255px;
	position: relative;
	width: 1400px;
	background-color: #fad894;
	margin-bottom: 56px;
}
.foto_tour{
	margin-top: 40px;
	margin-bottom: 56px;
	height: 446px;
	width: 670px;
	position: relative;
}
.text_tour{
	position: absolute;
	display: block;
	left: 970px;
	top: 50px ;
	justify-content: center;
	width: 450px;
	text-align: center;
	font-size: 36px;
}
.text_tour div{
	margin-bottom: 40px;
}
.link_tour{
	position: relative;
	top:10px;
	left: 90px;
	border: 0.5px solid rgb(100, 100, 100);
	width: 250px;
	height: 60px;
	background-color: black;
	text-align: center;
	display: block;
	font-size: 36px;
	line-height: 50px;
	color: white;
	overflow: hidden;
	z-index: 1;
	margin-bottom: 30px;
}
.price{
	font-size: 63px;
	margin-bottom: 30px;
}
.description{
	font-size: 36px;
}

.all_photo{
	max-width: 600px;
	margin: auto ;

}
.items{
	overflow-x: scroll;
	display: flex;
	flex-direction: row;
	cursor: pointer;
}
.item{
	width:400px;
	margin-left: 10px;
}
.item::-webkit-scrollbar{
	width: 0;
	background: transparent;
}
.photo {
	width:400px;
}
.reviews_cont{
	margin: 0 auto;
	position: relative;
	width: 1620px;
	left: 141px;
	height: 85px;
	background-color: #fad894;
	font-size: 40px;
	padding-top: 20px;
	padding-left: 40px;
}
.reviews{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 25px;
	display: flex;
	align-items: center;
	white-space: nowrap;
}
.rew_photo_user{
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 30px;
}
.reviews_list{
margin-left: 220px;
margin-top: 40px;

}
.name_user{
	font-size: 24px;
}
.name_user label{
	color: #888888;
	font-size: 20px;
	
	
}
.text_rew{
	margin-left: 90px;
	font-size: 30px;
	
}
.errf{
	display: inline-block;
}
.link_pop_tour{
	position: relative;
	left: 535px;
	border: 0.5px solid rgb(100, 100, 100);
	width: 250px;
	height: 60px;
	text-align: center;
	display: block;
	font-size: 30px;
	line-height: 50px;
	color: black;
	overflow: hidden;
	margin-bottom: 30px;
	margin-top: 40px;
}
.link_pop_tour::before{

	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-color: #F5B129;
	bottom: -100%;
	left: 0%;
	z-index: -1;
	transition: .6s;
}

.link_pop_tour:hover{
	color:black
}
.link_pop_tour:hover:before{
	bottom: 0;
}
/* wishlist*/

.wishlist{
	background-color: white;
	height: 60px;
	width: 60px;
	border-radius: 50px;
	float: right;
	right: 50px;
	bottom:  25px;
	position: relative;

}
.wishlist:hover img{
	transform: scale(1.4);
}
.like__img{
	position: relative;
	left: 20%;
	top: 30%;
	display: block;

	transition: transform 0.25s;
}

.wish img{
	-webkit-filter: grayscale(100%) invert(100%);
	filter: grayscale(100%) invert(100%);
}
.wish_not img{
	filter: none;
}