.footer{
    margin: 0 auto;
    background-color: #FBC354;
}
.footer_img{
    float: right;
}
.social__item{
    padding-top: 25px;
    display: flex;
	justify-content: space-between;
	align-items: center;
    font-size: 19px;
}
.img_footer{
    vertical-align:middle;
    display:inline-block;
    padding-right: 20px;
}
.copyright{
    padding-left: 60px;
    padding-top: 20px; 
    padding-bottom: 20px; 
}
